# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info/
*.egg
dist/
build/
*.ini
*.log
local_settings.py

# Backend credentials and data
backend/credentials.json
backend/*.sqlite3
backend/config.py
data/

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.npm
.eslintcache
*.tgz
*.zip

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
